body { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: #f85032; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
height: 100%;
display: block;}

.k {background-color: blue;
border: solid;}

.d {background-color: red;
border: solid;}

.spasing {padding: 20px;}

.langeliai { padding: 20px;
margin: 20px; 
float: left;}

.a {background-color: black;
color: red}
.s {background-color:red
	;}
.q {background-color: grey;}
.w {background-color: pink;}
.e {background-color: yellow;}
.r {background-color: white;}
.t {background-color: green;}